*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
}
header{
    background: #1b2530;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    color: #ddd;
    height: 55px;

    ul{
        list-style: none;

        li{
            display: inline;
            padding: 10px;
        }

        .active{
            border-bottom: 1px solid #fff;
        }
    }
}